<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.hscom">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddPlanDemo"></activity>
        <activity android:name=".PlannerDemo" />
        <activity android:name=".myeongdukComDemo" />
        <activity android:name=".myeongdukInfoDemo" />
        <activity android:name=".demo_schoolselect" />
        <activity android:name=".demoMain" />
        <activity android:name=".AddPlanActivity" />
        <activity android:name=".PlannerActivity" />
        <activity android:name=".CreateSchool" />
        <activity android:name=".newArticle" />
        <activity android:name=".mainHSCom" />
        <activity android:name=".Schoolinfo" />
        <activity android:name=".hscom_list" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>